body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(135deg, #f8f9fb, #e9eef5);
  background-attachment: fixed;
  overflow-x: hidden;
}


html {
  overflow-x: hidden;
}

#root {
  width: 90%;
  margin: 0 auto;
  max-width: 100%;
}
